.header {
  z-index: 3;
  display: flex;
  flex-direction: column;
  background-image: url(../images/background_header.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  box-sizing: border-box;
}

.header__title {
  font-weight: 500;
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin-top: 183px;
  margin-bottom: 0;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: italic;
  color: #2f80ed;
}

.header__description {
  margin-top: 28px;
  margin-bottom: 0;
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  right: 5px;
  top: 124px;
}

.header__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.header__paragraph {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
